body{
	background-image: url(b3.jpg);
	background-size: cover;
	text-align: center;
}
h1{	font-size: 50px;
	color: #f5a4e2;
	font-weight: bolder;
}
.row{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
button{
	background: none;
	border: none;
	width: 400px;
	height: 400px;
}
button img{
	width: 400px;
	height: 400px;
}
h3{
	color: #f5a4e2;
	font-size: 30px;
	font-weight: bold;
}
button img:hover{
	transform: scale(1.1);
}
